<p-card [header]="titulo">
  <div class="ui-g botoes-topo">
    <div class="ui-g-12 ui-md-1">
      <button pButton type="button" icon="fa fa-plus" label="Paciente" (click)="novoPaciente()"></button>
    </div>
  </div>

  <div class="ui-g ui-md-12">
    <div class="ui-g-6 ui-md-3">
      <label>Busca</label>
      <div class="ui-inputgroup">
        <p-dropdown name="criterioBusca" [options]="criterioBusca" [(ngModel)]="tipoBusca" >
        </p-dropdown>
        <p-inputMask *ngIf="tipoBusca == 'CPF'" mask="?999.999.999-99" [(ngModel)]="cpf" name="cpf" placeholder="Digite o CPF">
        </p-inputMask>
        <input *ngIf="tipoBusca == 'Nome'" name="nome" type="text" [(ngModel)]="nome" placeholder="Digite o nome" pInputText />
        <button pButton type="button" icon="fa fa-search" (click)="definirBusca()"></button>
      </div>
    </div>
  </div>

  <div *ngIf="semRetornoPaciente" class="alinharCentro">
    <h4>{{semRetornoPaciente}}</h4>
  </div>

  <app-gtm-tabela [colunas]="colunas" [lista]="pacientes" [rotaEdicao]="rotaEdicao" [urlDelete]="urlDelete"
    [botoes]="botoes" (clickBotaoEvent)="novoAtendimento($event)"></app-gtm-tabela>
</p-card>