.botoes-topo {
    margin-bottom: -8px;
}

.botao-novoAtendimento {
    margin-left: 10px;
}

.alinharCentro {
    margin:0 auto; 
    width:20%;
}

.camposBusca {
    padding-left: 0px;
    margin-bottom: 10px;
}