<p-card [header]="titulo">
  <div class="botoes-topo">
    <button pButton type="button" label="Novo Paciente" (click)="novoPaciente()"></button>
    <button pButton type="button" label="Novo Atendimento" class="botao-novoAtendimento" [disabled]="pacienteSelecionado ? false : true" (click)="novoAtendimento('atendimento/novo')"></button>
  </div>
  <app-gtm-tabela [colunas]="colunas" [lista]="pacientes" [rotaEdicao]="rotaEdicao" [urlDelete]="urlDelete" (linhaSelecionada)="selecionaPaciente($event)"></app-gtm-tabela>
</p-card>