<h3 class="ajuste_central">
    Clínica de Atenção Farmacêutica
</h3>
<h3 class="ajuste_central">
    Serviço de Gerenciamento da Terapia Medicamentosa
</h3>
<div class="p-grid">
    <div class="p-col-12 p-md-12 p-lg-12">
        <p-fieldset legend="DADOS SOCIODEMOGRÁFICOS">
            <div class="p-grid">
                <div class="p-col-8 p-md-8 p-lg-8">
                    <p-fieldset>
                        <div class="p-grid">
                            <div class="p-col-2 p-md-2 p-lg-2">
                                <label>Paciente:</label>
                            </div>
                            <div class="p-col-10 p-md-10 p-lg-10">
                                <label>{{paciente.nome}}</label>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
                <div class="p-col-4 p-md-4 p-lg-4">
                    <p-fieldset>
                        <div class="p-grid">
                            <div class="p-col-6 p-md-6 p-lg-6">
                                <label>Data:</label>
                            </div>
                            <div class="p-col-6 p-md-6 p-lg-6">
                                <label>{{atendimento.dataAtendimento | date: 'dd/MM/yyyy'}}</label>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
                <div class="p-col-3 p-md-3 p-lg-3">
                    <p-fieldset>
                        <div class="p-grid">
                            <div class="p-col-6 p-md-6 p-lg-6">
                                <label>Nascimento:</label>
                            </div>
                            <div class="p-col-6 p-md-6 p-lg-6">
                                <label>{{paciente.dataNascimento | date: 'dd/MM/yyyy'}}</label>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
                <div class="p-col-3 p-md-3 p-lg-3">
                    <p-fieldset>
                        <div class="p-grid">
                            <div class="p-col-6 p-md-6 p-lg-6">
                                <label>Idade:</label>
                            </div>
                            <div class="p-col-6 p-md-6 p-lg-6">
                                <label>{{idade}}</label>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
                <div class="p-col-6 p-md-6 p-lg-6">
                    <p-fieldset>
                        <div class="p-grid">
                            <div class="p-col-6 p-md-6 p-lg-6">
                                <label>Escolaridade (anos de estudo):</label>
                            </div>
                            <div class="p-col-6 p-md-6 p-lg-6">
                                <label>{{paciente.anosEstudo}}</label>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
                <div class="p-col-5 p-md-5 p-lg-5">
                    <p-fieldset>
                        <div class="p-grid">
                            <div class="p-col-6 p-md-6 p-lg-6">
                                <label>Gênero:</label>
                            </div>
                            <div class="p-col-6 p-md-6 p-lg-6">
                                <label>{{paciente.sexo}}</label>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
                <div class="p-col-7 p-md-7 p-lg-7">
                    <p-fieldset>
                        <div class="p-grid">
                            <div class="p-col-4 p-md-4 p-lg-4">
                                <label>Telefones:</label>
                            </div>
                            <div class="p-col-8 p-md-8 p-lg-8">
                                <label>{{paciente.telefone}}</label>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
                <div class="p-col-4 p-md-4 p-lg-4">
                    <p-fieldset>
                        <div class="p-grid">
                            <div class="p-col-6 p-md-6 p-lg-6">
                                <label>Estado Cívil:</label>
                            </div>
                            <div class="p-col-6 p-md-6 p-lg-6">
                                <label>{{paciente.estadoCivil}}</label>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
                <div class="p-col-8 p-md-8 p-lg-8">
                    <p-fieldset>
                        <div class="p-grid">
                            <div class="p-col-4 p-md-4 p-lg-4">
                                <label>Ocupação/Profissão:</label>
                            </div>
                            <div class="p-col-8 p-md-8 p-lg-8">
                                <label>{{paciente.profissao}}</label>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
                <div class="p-col-12 p-md-12 p-lg-12">
                    <p-fieldset>
                        <div class="p-grid">
                            <div class="p-col-4 p-md-4 p-lg-4">
                                <label>Motivo Encontro:</label>
                            </div>
                            <div class="p-col-8 p-md-8 p-lg-8">
                                <label>{{paciente.dadosComplementares.motivoConsulta}}</label>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
            </div>
        </p-fieldset>
        <p-fieldset legend="HÁBITOS DE VIDA E DADOS FÍSICOS">
            <div class="p-grid">
                <div class="p-col-4 p-md-4 p-lg-4">
                    <p-fieldset>
                        <div class="p-grid">
                            <div class="p-col-4 p-md-4 p-lg-4">
                                <label>Atividade física:</label>
                            </div>
                            <div class="p-col-8 p-md-8 p-lg-8">
                                <label>{{this.retornoAtvFisica}}</label>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
                <div class="p-col-8 p-md-8 p-lg-8">
                    <p-fieldset>
                        <div class="p-grid">
                            <div class="p-col-4 p-md-4 p-lg-4">
                                <label>Observação:</label>
                            </div>
                            <div class="p-col-8 p-md-8 p-lg-8">
                                <label>{{paciente.habitosVida.atividadeFisica.observacaoAtividadeFisica}}</label>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
                <div class="p-col-4 p-md-4 p-lg-4">
                    <p-fieldset>
                        <div class="p-grid">
                            <div class="p-col-4 p-md-4 p-lg-4">
                                <label>Cigarro:</label>
                            </div>
                            <div class="p-col-8 p-md-8 p-lg-8">
                                <label>{{this.retornoCigarro}}</label>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
                <div class="p-col-8 p-md-8 p-lg-8">
                        <p-fieldset>
                            <div class="p-grid">
                                <div class="p-col-4 p-md-4 p-lg-4">
                                    <label>Observação:</label>
                                </div>
                                <div class="p-col-8 p-md-8 p-lg-8">
                                    <label>{{paciente.habitosVida.cigarro.observacaoCigarro}}</label>
                                </div>
                            </div>
                        </p-fieldset>
                    </div>
                <div class="p-col-4 p-md-4 p-lg-4">
                    <p-fieldset>
                        <div class="p-grid">
                            <div class="p-col-4 p-md-4 p-lg-4">
                                <label>Bebidas Alcoólicas:</label>
                            </div>
                            <div class="p-col-8 p-md-8 p-lg-8">
                                <label>{{this.retornoBebida}}</label>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
                <div class="p-col-8 p-md-8 p-lg-8">
                        <p-fieldset>
                            <div class="p-grid">
                                <div class="p-col-4 p-md-4 p-lg-4">
                                    <label>Observação:</label>
                                </div>
                                <div class="p-col-8 p-md-8 p-lg-8">
                                    <label>{{paciente.habitosVida.bebidaAlcoolica.observacaoBebidaAlcoolica}}</label>
                                </div>
                            </div>
                        </p-fieldset>
                    </div>
                <div class="p-col-6 p-md-6 p-lg-6">
                    <p-fieldset>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-12 p-lg-12 ajuste_central">
                                <label>Dados antopométricos:</label>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
                <div class="p-col-2 p-md-2 p-lg-2">
                    <p-fieldset>
                        <div class="p-grid">
                            <div class="p-col-6 p-md-6 p-lg-6">
                                <label>Peso:</label>
                            </div>
                            <div class="p-col-6 p-md-6 p-lg-6">
                                <label>{{paciente.dadosAntropometricos.peso}}</label>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
                <div class="p-col-2 p-md-2 p-lg-2">
                    <p-fieldset>
                        <div class="p-grid">
                            <div class="p-col-6 p-md-6 p-lg-6">
                                <label>Altura:</label>
                            </div>
                            <div class="p-col-6 p-md-6 p-lg-6">
                                <label>{{paciente.dadosAntropometricos.altura}}</label>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
                <div class="p-col-2 p-md-2 p-lg-2">
                    <p-fieldset>
                        <div class="p-grid">
                            <div class="p-col-6 p-md-6 p-lg-6">
                                <label>IMC:</label>
                            </div>
                            <div class="p-col-6 p-md-6 p-lg-6">
                                <label>{{paciente.dadosAntropometricos.imc}}</label>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
                <div class="p-col-12 p-md-12 p-lg-12">
                    <p-fieldset legend="ROTINAS, HÁBITOS ALIMENTARES, INGESTÃO HÍDRICA E CAFÉ (HORÁRIO E OBSERVAÇÕES IMPORTANTES)">
                        <div class="ui-g">
                            <div class="ui-g-8 ui-g-nopad">
                                <div class="ui-g-6">
                                    <div class="p-col-12 p-md-12 p-lg-12">
                                        <p-fieldset>
                                            <div class="p-grid">
                                                <div class="p-col-6 p-md-6 p-lg-6">
                                                    <label>Acordar:</label>
                                                </div>
                                                <div class="p-col-6 p-md-6 p-lg-6">
                                                    <label>{{paciente.rotina.acorda}}</label>
                                                </div>
                                            </div>
                                        </p-fieldset>
                                    </div>
                                </div>
                                <div class="ui-g-6">
                                    <div class="p-col-12 p-md-12 p-lg-12">
                                        <p-fieldset>
                                            <div class="p-grid">
                                                <div class="p-col-6 p-md-6 p-lg-6">
                                                    <label>Lanche tarde:</label>
                                                </div>
                                                <div class="p-col-6 p-md-6 p-lg-6">
                                                    <label>{{paciente.rotina.lanchedaTarde}}</label>
                                                </div>
                                            </div>
                                        </p-fieldset>
                                    </div>
                                </div>
                                <div class="ui-g-6">
                                    <div class="p-col-12 p-md-12 p-lg-12">
                                        <p-fieldset>
                                            <div class="p-grid">
                                                <div class="p-col-6 p-md-6 p-lg-6">
                                                    <label>Café manhã:</label>
                                                </div>
                                                <div class="p-col-6 p-md-6 p-lg-6">
                                                    <label>{{paciente.rotina.cafedaManha}}</label>
                                                </div>
                                            </div>
                                        </p-fieldset>
                                    </div>
                                </div>
                                <div class="ui-g-6">
                                    <div class="p-col-12 p-md-12 p-lg-12">
                                        <p-fieldset>
                                            <div class="p-grid">
                                                <div class="p-col-6 p-md-6 p-lg-6">
                                                    <label>Jantar:</label>
                                                </div>
                                                <div class="p-col-6 p-md-6 p-lg-6">
                                                    <label>{{paciente.rotina.jantar}}</label>
                                                </div>
                                            </div>
                                        </p-fieldset>
                                    </div>
                                </div>
                                <div class="ui-g-6">
                                    <div class="p-col-12 p-md-12 p-lg-12">
                                        <p-fieldset>
                                            <div class="p-grid">
                                                <div class="p-col-6 p-md-6 p-lg-6">
                                                    <label>Lanche manhã:</label>
                                                </div>
                                                <div class="p-col-6 p-md-6 p-lg-6">
                                                    <label>{{paciente.rotina.lanchedaManha}}</label>
                                                </div>
                                            </div>
                                        </p-fieldset>
                                    </div>
                                </div>
                                <div class="ui-g-6">
                                    <div class="p-col-12 p-md-12 p-lg-12">
                                        <p-fieldset>
                                            <div class="p-grid">
                                                <div class="p-col-6 p-md-6 p-lg-6">
                                                    <label>Dorme:</label>
                                                </div>
                                                <div class="p-col-6 p-md-6 p-lg-6">
                                                    <label>{{paciente.rotina.dorme}}</label>
                                                </div>
                                            </div>
                                        </p-fieldset>
                                    </div> 
                                </div>
                                <div class="ui-g-6">
                                    <div class="p-col-12 p-md-12 p-lg-12">
                                        <p-fieldset>
                                            <div class="p-grid">
                                                <div class="p-col-6 p-md-6 p-lg-6">
                                                    <label>Almoço:</label>
                                                </div>
                                                <div class="p-col-6 p-md-6 p-lg-6">
                                                    <label>{{paciente.rotina.almoco}}</label>
                                                </div>
                                            </div>
                                        </p-fieldset>
                                    </div>
                                </div>
                                <div class="ui-g-6"></div>
                            </div>
                            <div class="ui-g-4">
                                <p-fieldset>
                                    <div class="p-col-12 p-md-12 p-lg-12">
                                        <div class="p-grid">
                                            <div class="p-col-3 p-md-3 p-lg-3">
                                                <label>Observações:</label>
                                            </div>
                                            <div class="p-col-9 p-md-9 p-lg-9">
                                                <textarea rows="17" cols="24" class="textArea"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </p-fieldset>
                            </div>
                            <div class="p-col-12 p-md-12 p-lg-12">
                                <p-fieldset>
                                    <div class="p-grid">
                                        <div class="p-col-12 p-md-12 p-lg-12">
                                            <label>Uso de Plantas, Fisioterápicas (Indicação, nome, qde, nº vezes/dia, parte usada) Terapia Alternativa:</label>
                                        </div>
                                        <div class="p-col-12 p-md-12 p-lg-12">
                                            <textarea rows="5" cols="125" class="textArea"></textarea>
                                        </div>
                                    </div>
                                </p-fieldset>
                            </div>
                            <div class="p-col-12 p-md-12 p-lg-12">
                                <p-fieldset>
                                    <div class="p-grid">
                                        <div class="p-col-12 p-md-12 p-lg-12">
                                            <label>Alertas (RAM importantes. Outras informações pertinentes: estrutura familiar, limitações, cuidador, nesse caso anotar o nome e contato):</label>
                                        </div>
                                        <div class="p-col-12 p-md-12 p-lg-12">
                                            <textarea rows="5" cols="125" class="textArea"></textarea>
                                        </div>
                                    </div>
                                </p-fieldset>
                            </div>
                            <div class="p-col-12 p-md-12 p-lg-12">
                                <p-fieldset>
                                    <div class="p-grid">
                                        <div class="p-col-12 p-md-12 p-lg-12">
                                            <label>Experiência subjetiva com o uso do medicamento (Expectativa, compreensão, preocupações, crenças e comportamento):</label>
                                        </div>
                                        <div class="p-col-12 p-md-12 p-lg-12">
                                            <textarea rows="5" cols="125" class="textArea"></textarea>
                                        </div>
                                    </div>
                                </p-fieldset>
                            </div>
                            <div class="p-col-12 p-md-12 p-lg-12">
                                <p-fieldset>
                                    <div class="p-grid">
                                        <div class="p-col-12 p-md-12 p-lg-12">
                                            <label>Assinatura e carimbo do profissional:</label>
                                        </div>
                                        <div class="p-col-12 p-md-12 p-lg-12">
                                            <textarea rows="10" cols="125" class="textArea"></textarea>
                                        </div>
                                    </div>
                                </p-fieldset>
                            </div>                             
                        </div> 

                    </p-fieldset>
                </div>
                                   
            </div>
        </p-fieldset>
    </div>
</div>