input {
    width: 100% !important;
}

.botao-acao {
    margin-left: 10px;
}

.card {
    margin-top: 10px;
}

:host {
    ::ng-deep .dropdown {
        width: 100%;
    }
  }

  #print-section{
    border: 4px dashed #CCC;
    padding: 7px; 
    border-radius: 5px;
  }

.ajuste_central{
    text-align: center;
    font-family: Arial;
    font-weight: bold;
}   

.ajuste_direita{
    text-align: right;
    font-family: Arial;
}

.div_quadrado_observacao{
    height: 250px;
 }

 .textArea {
    resize: none;
    border: none;
  }