<form #f="ngForm" (ngSubmit)="salvar()">
  <p-card [header]="titulo">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-3 ui-lg-3 ui-sm-12">
          <label>Descrição Teste GTM cadastro:</label>
          <input id="descricao" name="descricao" type="text" pInputText [(ngModel)]="form.descricao" required> 
        </div>  
      </div>
      
      <button pButton class="botao-acao" type="submit" label="Salvar"></button>
      <button pButton class="botao-acao" type="button" label="Voltar" (click)="voltar()"></button>
  
    </p-card> 
</form>
  