<div>
  <p-confirmDialog header="Atenção!" acceptLabel="Sim" rejectLabel="Não" icon="pi pi-exclamation-triangle">
  </p-confirmDialog>
  <p-table [value]="lista" paginator="true" rows="10" first="0"
    [totalRecords]="lista.length">
    <ng-template pTemplate="header">
      <tr>
        <th *ngFor="let coluna of colunas">{{ coluna.label }}</th>
        <th *ngIf="existeDelete || existeEdicao || existeImpressao" class="coluna-acoes">Ações</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-elemento>
      <tr>
        <td *ngFor="let coluna of colunas">{{
           isDate(elemento[coluna.var]) ? 
           (elemento[coluna.var] | date: 'dd/MM/yyyy') : 
           elemento[coluna.var]
          }}</td>
        <td *ngIf="existeDelete || existeEdicao || existeImpressao">
          <button *ngFor="let botao of botoes" [label]="botao.label" pButton class="botao-acao" [icon]="botao.icone"
            (click)="clickBotao(botao, elemento._id)" type="button"></button>
          <button *ngIf="existeEdicao" pButton class="botao-acao" icon="fa fa-pencil" (click)="editaItem(elemento._id)"
            type="button"></button>
          <button *ngIf="existeDelete" pButton class="botao-acao" icon="fa fa-trash" (click)="deletaItem(elemento._id)"
            type="button"></button>
            <button *ngIf="existeImpressao" pButton class="botao-acao" icon="fa fa-print" (click)="imprimeItem(elemento._id)"
            type="button"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>