#menu{
    float:left;
    background-color: #ffffff;
    width: 50px;
    height: 100%;
    padding-right: 10px;
    position: fixed;
    width:220px;
    box-shadow: 1px 2px 3px #333;
}

html,body{
    height:100%;
}

#content{
    margin-left: 230px;
}

.container-conteudo {
    margin-top: 10px;
}
