<button pButton class="botao-acao" printSectionId="print-section" label="Imprimir" ngxPrint></button>
<button pButton class="botao-acao" type="button" label="Voltar" (click)="voltar()"></button>
<div class="card">
    <p-card [header]="titulo">
        <div id="print-section">
            <!-- RELATORIO DO PACIENTE --> 
                <app-atendimento-imprimir-paciente></app-atendimento-imprimir-paciente>
            <!-- FIM RELATORIO PACIENTE -->
                
            <!-- RELATORIO DO ATENDIMENTO --> 
                <app-atendimento-imprimir-atendimento></app-atendimento-imprimir-atendimento>
            <!-- FIM RELATORIO ATENDIMENTO -->
        </div>
    </p-card>
</div>