<button pButton class="no-print botao-acao" label="Imprimir"  (click)="print()"></button>
<button pButton class="no-print botao-acao" type="button" label="Voltar" (click)="voltar()"></button>
<div class="card">
    <p-card>
        <div class="print-selection">
            <!-- RELATORIO DO PACIENTE --> 
                <app-paciente-imprimir-paciente *ngIf="isPrimeiroAtendimento"></app-paciente-imprimir-paciente>
            <!-- FIM RELATORIO PACIENTE -->
                
            <!-- RELATORIO DO ATENDIMENTO --> 
                <app-atendimento-imprimir-atendimento></app-atendimento-imprimir-atendimento>
            <!-- FIM RELATORIO ATENDIMENTO -->
        </div>
    </p-card>
</div>