<h3 class="ajuste_central">
    Clínica de Atenção Farmacêutica
</h3>
<h3 class="ajuste_central">
    Serviço de Gerenciamento da Terapia Medicamentosa
</h3>
<div class="p-grid">
    <div class="p-col-12 p-md-12 p-lg-12">
        <p-fieldset legend="DADOS">
            <div class="p-grid">
                <div class="p-col-3 p-md-3 p-lg-3">
                    <p-fieldset>
                        <div class="p-grid">
                            <div class="p-col-6 p-md-6 p-lg-6">
                                <label>Data:</label>
                            </div>
                            <div class="p-col-6 p-md-6 p-lg-6">
                                <label>{{atendimento.dataAtendimento | date: 'dd/MM/yyyy'}}</label>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
                <div class="p-col-6 p-md-6 p-lg-6">
                    <p-fieldset>
                        <div class="p-grid">
                            <div class="p-col-6 p-md-6 p-lg-6">
                                <label>Usuário:</label>
                            </div>
                            <div class="p-col-6 p-md-6 p-lg-6">
                                <label>VERIFICAR</label>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
                <div class="p-col-3 p-md-3 p-lg-3">
                    <p-fieldset>
                        <div class="p-grid">
                            <div class="p-col-6 p-md-6 p-lg-6">
                                <label>Prontuário:</label>
                            </div>
                            <div class="p-col-6 p-md-6 p-lg-6">
                                <label>VERIFICAR</label>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
            </div>
        </p-fieldset> 
        <p-fieldset legend="AVALIAÃO INICIAL (HISTÓRIA CLÍNICA E MEDICAMENTOSA ATUAL E PREGRESSA) E PLANO DE CUIDADO">
            <div class="p-col-12 p-md-12 p-lg-12">
                <p-fieldset>
                    <div class="p-grid">
                        <div class="p-col-2 p-md-2 p-lg-2">
                            <label>Quadro Geral:</label>
                        </div>
                        <div class="p-col-10 p-md-10 p-lg-10">
                            <label>{{atendimento.quadroGeral}}</label>
                        </div>
                    </div>
                </p-fieldset>
            </div>
            <div class="p-col-12 p-md-12 p-lg-12">
                <p-fieldset>
                    <div class="p-grid">
                        <div class="p-col-2 p-md-2 p-lg-2">
                            <label>Problema de Saúde:</label>
                        </div>
                        <div class="p-col-10 p-md-10 p-lg-10">
                            <label>VERIFICAR</label>
                        </div>
                    </div>
                </p-fieldset>
            </div> 
        </p-fieldset> 
        <div class="p-grid" *ngFor="let doenca of atendimento.doencas; let i = index">
            <div class="p-grid" *ngFor="let farmaco of doenca.farmacoterapias; let i = index">
                <div class="p-col-12 p-md-12 p-lg-12">
                    <p-fieldset legend="FARMACOTERAPIA ATUAL">
                        <div class="ui-g">
                            <div class="ui-g-3">
                                <div class="p-col-12 p-md-12 p-lg-12">
                                    <p-fieldset>
                                        <div class="p-grid">
                                            <div class="p-col-12 p-md-12 p-lg-12">
                                                <label>Medicamento/Apresentação:</label>
                                            </div>
                                        </div>
                                    </p-fieldset>
                                </div> 
                            </div>
                            <div class="ui-g-9 ui-g-nopad">
                                <div class="ui-g-3">
                                    <div class="p-col-12 p-md-12 p-lg-12">
                                        <p-fieldset>
                                            <div class="p-grid">
                                                <div class="p-col-12 p-md-12 p-lg-12">
                                                    <label>Esquema posológico:</label>
                                                </div>
                                            </div>
                                        </p-fieldset>
                                    </div> 
                                </div>
                                <div class="ui-g-2">
                                    <div class="p-col-12 p-md-12 p-lg-12">
                                        <p-fieldset>
                                            <div class="p-grid">
                                                <div class="p-col-12 p-md-12 p-lg-12">
                                                    <label>Tempo Uso:</label>
                                                </div>
                                            </div>
                                        </p-fieldset>
                                    </div> 
                                </div>
                                <div class="ui-g-2">
                                    <div class="p-col-12 p-md-12 p-lg-12">
                                        <p-fieldset>
                                            <div class="p-grid">
                                                <div class="p-col-12 p-md-12 p-lg-12">
                                                    <label>Efetividade:</label>
                                                </div>
                                            </div>
                                        </p-fieldset>
                                    </div> 
                                </div>
                                <div class="ui-g-2">
                                    <div class="p-col-12 p-md-12 p-lg-12">
                                        <p-fieldset>
                                            <div class="p-grid">
                                                <div class="p-col-12 p-md-12 p-lg-12">
                                                    <label>Segurança:</label>
                                                </div>
                                            </div>
                                        </p-fieldset>
                                    </div> 
                                </div>
                                <div class="ui-g-3">
                                    <div class="p-col-12 p-md-12 p-lg-12">
                                        <p-fieldset>
                                            <div class="p-grid">
                                                <div class="p-col-12 p-md-12 p-lg-12">
                                                    <label>Adesão (Dificuldade uso):</label>
                                                </div>
                                            </div>
                                        </p-fieldset>
                                    </div> 
                                </div>
                                <div class="ui-g-12">
                                    <div class="ui-g-3">
                                        <div class="p-col-12 p-md-12 p-lg-12">
                                            <p-fieldset>
                                                <div class="p-grid">
                                                    <div class="p-col-12 p-md-12 p-lg-12">
                                                        <label>Qde/Horário/Alimentação, Modo de uso:</label>
                                                    </div>
                                                </div>
                                            </p-fieldset>
                                        </div> 
                                    </div>
                                    <div class="ui-g-2">
                                        <div class="p-col-12 p-md-12 p-lg-12">
                                            <p-fieldset>
                                                <div class="p-grid">
                                                    <div class="p-col-12 p-md-12 p-lg-12">
                                                        <label>Inicio/Atualização:</label>
                                                    </div>
                                                </div>
                                            </p-fieldset>
                                        </div> 
                                    </div>
                                    <div class="ui-g-2">
                                        <div class="p-col-12 p-md-12 p-lg-12">
                                            <p-fieldset>
                                                <div class="p-grid">
                                                    <div class="p-col-12 p-md-12 p-lg-12">
                                                        <label>Dados objetivos/subjetivos:</label>
                                                    </div>
                                                </div>
                                            </p-fieldset>
                                        </div> 
                                    </div>
                                    <div class="ui-g-2">
                                        <div class="p-col-12 p-md-12 p-lg-12">
                                            <p-fieldset>
                                                <div class="p-grid">
                                                    <div class="p-col-12 p-md-12 p-lg-12">
                                                        <label>Dados objetivos/subjetivos:</label>
                                                    </div>
                                                </div>
                                            </p-fieldset>
                                        </div> 
                                    </div>
                                    <div class="ui-g-3">
                                        <div class="p-col-12 p-md-12 p-lg-12">
                                            <p-fieldset>
                                                <div class="p-grid">
                                                    <div class="p-col-12 p-md-12 p-lg-12">
                                                        <label>Esquecer, identificar, tomar/aplicar, adquirir, etc:</label>
                                                    </div>
                                                </div>
                                            </p-fieldset>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- DADOS PLANO DE CUIDADOS -->
                        <div class="p-grid">
                            <div class="p-col-3 p-md-3 p-lg-3">
                                <p-fieldset>
                                    <div class="p-grid">
                                        <div class="p-col-12 p-md-12 p-lg-12">
                                            <label>{{doenca.nome}}</label>
                                        </div>
                                    </div>
                                </p-fieldset>
                            </div>
                            <div class="p-col-9 p-md-9 p-lg-9">
                                <div class="p-grid">
                                    <div class="p-col-3 p-md-3 p-lg-3">
                                        <p-fieldset>
                                            <div class="p-grid">
                                                <div class="p-col-12 p-md-12 p-lg-12">
                                                    <label>Prescrita: {{farmaco.posologiaPrescrita}} / Relatada:  {{farmaco.posologiaRelatada}}</label>
                                                </div>
                                            </div>
                                        </p-fieldset>
                                    </div> 
                                    <div class="p-col-2 p-md-2 p-lg-2">
                                        <p-fieldset>
                                            <div class="p-grid">
                                                <div class="p-col-12 p-md-12 p-lg-12">
                                                    <label>{{farmaco.tempoUso}}</label>
                                                </div>
                                            </div>
                                        </p-fieldset>
                                    </div> 
                                    <div class="p-col-2 p-md-2 p-lg-2">
                                        <p-fieldset>
                                            <div class="p-grid">
                                                <div class="p-col-12 p-md-12 p-lg-12">
                                                    <label>{{farmaco.efetividade}}</label>
                                                </div>
                                            </div>
                                        </p-fieldset>
                                    </div> 
                                    <div class="p-col-2 p-md-2 p-lg-2">
                                        <p-fieldset>
                                            <div class="p-grid">
                                                <div class="p-col-12 p-md-12 p-lg-12">
                                                    <label>{{farmaco.seguranca}}</label>
                                                </div>
                                            </div>
                                        </p-fieldset>
                                    </div> 
                                    <div class="p-col-3 p-md-3 p-lg-3">
                                        <p-fieldset>
                                            <div class="p-grid">
                                                <div class="p-col-12 p-md-12 p-lg-12">
                                                    <label>ADESÃO</label>
                                                </div>
                                            </div>
                                        </p-fieldset>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="p-col-12 p-md-12 p-lg-12">
                            <p-fieldset legend="PLANO DE CUIDADO">
                                <div class="p-grid">
                                    <div class="p-col-12 p-md-12 p-lg-12">
                                        <p-fieldset>
                                            <div class="p-grid">
                                                <div class="p-col-4 p-md-4 p-lg-4">
                                                    <label>Obejtivo terapêutico:</label>
                                                </div>
                                                <div class="p-col-8 p-md-8 p-lg-8">
                                                    <label>VERIFICAR</label>
                                                </div>
                                            </div>
                                        </p-fieldset>
                                    </div>
                                    <div class="p-col-3 p-md-3 p-lg-3">
                                        <p-fieldset>
                                            <div class="p-grid">
                                                <div class="p-col-6 p-md-6 p-lg-6">
                                                    <label>PRM identificado:</label>
                                                </div>
                                                <div class="p-col-6 p-md-6 p-lg-6">
                                                    <label>{{farmaco.prm.prm}}</label>
                                                </div>
                                            </div>
                                        </p-fieldset>
                                    </div>
                                    <div class="p-col-5 p-md-5 p-lg-5">
                                        <p-fieldset>
                                            <div class="p-grid">
                                                <div class="p-col-2 p-md-2 p-lg-2">
                                                    <label>Causa:</label>
                                                </div>
                                                <div class="p-col-10 p-md-10 p-lg-10">
                                                    <label>{{farmaco.prm.causa}}</label>
                                                </div>
                                            </div>
                                        </p-fieldset>
                                    </div>
                                    <div class="p-col-4 p-md-4 p-lg-4">
                                        <p-fieldset>
                                            <div class="p-grid">
                                                <div class="p-col-4 p-md-4 p-lg-4">
                                                    <label>Medicamento:</label>
                                                </div>
                                                <div class="p-col-8 p-md-8 p-lg-8">
                                                    <label>{{farmaco.medicamento}}</label>
                                                </div>
                                            </div>
                                        </p-fieldset>
                                    </div>
                                    <div class="p-col-12 p-md-12 p-lg-12">
                                        <p-fieldset>
                                            <div class="p-grid">
                                                <div class="p-col-4 p-md-4 p-lg-4">
                                                    <label>Condutas:</label>
                                                </div>
                                                <div class="p-col-8 p-md-8 p-lg-8">
                                                    <label>{{farmaco.conduta}}</label>
                                                </div>
                                            </div>
                                        </p-fieldset>
                                    </div>
                                    <div class="p-col-5 p-md-5 p-lg-5">
                                        <p-fieldset>
                                            <div class="p-grid">
                                                <div class="p-col-4 p-md-4 p-lg-4">
                                                    <label>SCF:</label>
                                                </div>
                                                <div class="p-col-8 p-md-8 p-lg-8">
                                                    <label>{{doenca.planoCuidado.scf}}</label>
                                                </div>
                                            </div>
                                        </p-fieldset>
                                    </div>
                                    <div class="p-col-7 p-md-7 p-lg-7">
                                        <p-fieldset>
                                            <div class="p-grid">
                                                <div class="p-col-5 p-md-5 p-lg-5">
                                                    <label>Data para avaliar resultados:</label>
                                                </div>
                                                <div class="p-col-7 p-md-7 p-lg-7">
                                                    <label>{{atendimento.dataResultado | date: 'dd/MM/yyyy'}}</label>
                                                </div>
                                            </div>
                                        </p-fieldset>
                                    </div>
                                    <div class="p-col-12 p-md-12 p-lg-12">
                                        <p-fieldset>
                                            <div class="p-grid">
                                                <div class="p-col-4 p-md-4 p-lg-4">
                                                    <label>Outras Condutas:</label>
                                                </div>
                                                <div class="p-col-8 p-md-8 p-lg-8">
                                                    <label>{{doenca.planoCuidado.outrasCondutas}}</label>
                                                </div>
                                            </div>
                                        </p-fieldset>
                                    </div>
                                </div>
                            </p-fieldset>  
                        </div>
                        <div class="p-col-12 p-md-12 p-lg-12">
                            <p-fieldset>
                                <div class="p-grid">
                                    <div class="p-col-4 p-md-4 p-lg-4">
                                        <p-fieldset>
                                            <div class="p-grid">
                                                <div class="p-col-12 p-md-12 p-lg-12 ajuste_central">
                                                    <label>Retorno:</label>
                                                </div>
                                                <div class="p-col-12 p-md-12 p-lg-12">
                                                    <input type="text" class="form-control date-time-mask ajuste_central" 
                                                           placeholder="_____ / _____ / _______">
                                                </div>
                                            </div>
                                        </p-fieldset>
                                    </div> 
                                    <div class="p-col-8 p-md-8 p-lg-8">
                                        <p-fieldset>
                                            <div class="p-grid">
                                                <div class="p-col-12 p-md-12 p-lg-12 ajuste_central">
                                                    <label>Assinatura e carimbo do profissional:</label>
                                                </div>
                                                <div class="p-col-12 p-md-12 p-lg-12">
                                                    <textarea rows="10" cols="130" class="textArea"></textarea>
                                                </div>
                                            </div>
                                        </p-fieldset>
                                    </div> 
                                </div>
                            </p-fieldset>
                        </div>
                    </p-fieldset>
                </div>   
            </div>
        </div>                
    </div>
</div>