<form #form="ngForm" (ngSubmit)="salvar()">
  <p-card [header]="titulo">

    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12">
        <fieldset class="fieldsetBorder">
          <div class="ui-g-12 divSemPaddingLeft tamanhoMinDiv" *ngIf="show">
            <h3 style="margin-block-end: 5px;">Paciente {{status}}:</h3>

            <div class="ui-g-1 ui-sm-12 divSemPaddingLeft tamanhoMinDiv">
              <p-inputSwitch name="ativo" [(ngModel)]="paciente && paciente.situacao && paciente.situacao.ativo"
                (onChange)="alterarStatus()"></p-inputSwitch>
            </div>

            <div class="ui-g-3 ui-sm-12 divSemPaddingLeft" style="min-width: 380px;" >
              <input id="motivoInativo" [(ngModel)]="paciente && paciente.situacao && paciente.situacao.motivo"
                type="text" name="motivo" pInputText placeholder="Motivo" *ngIf="!paciente.situacao.ativo"/>
            </div>
          </div>
          <h3>Dados do Paciente:</h3>
          <hr>
          <div class="ui-g-12 ui-md-12 ui-lg-4 ui-sm-12 tamanhoMinDiv">
            <label>Nome:*</label>
            <input id="nome" type="text" name="nome" pInputText [(ngModel)]="paciente.nome" />
          </div>

          <div class="ui-g-12 ui-md-12 ui-lg-4 ui-sm-12 tamanhoMinDiv">
            <label>CPF:*</label>
            <p-inputMask mask="999.999.999-99" [(ngModel)]="paciente.cpf" placeholder="123.456.789-12" id="cpf"
              name="cpf">
            </p-inputMask>
          </div>

          <div class="ui-g-12 ui-md-12 ui-lg-4 ui-sm-12 tamanhoMinDiv">
            <label>Sexo:</label>
            <p-dropdown [options]="sexo" [(ngModel)]="paciente.sexo" name="sexo" placeholder="Selecione:">
            </p-dropdown>
          </div>

          <div class="ui-g-12 ui-md-12 ui-lg-4 ui-sm-12 tamanhoMinDiv">
            <label>Data de Nascimento:*</label>
            <p-inputMask unmask="true" #data mask="99/99/9999" (focusout)="validarData(data.value)"
              [(ngModel)]="dataNascimento" placeholder="dd/mm/aaaa" id="dataNascimento" name="dataNascimento">
            </p-inputMask>
          </div>

          <div class="ui-g-12 ui-md-12 ui-lg-4 ui-sm-12 tamanhoMinDiv">
            <label>Profissão:</label>
            <input id="profissao" type="text" name="profissao" pInputText [(ngModel)]="paciente.profissao" />
          </div>

          <div class="ui-g-12 ui-md-12 ui-lg-4 ui-sm-12 tamanhoMinDiv">
            <label>Telefone:*</label>
            <p-inputMask unmask="true" mask="(99)99999-999?9" [(ngModel)]="paciente.telefone"
              placeholder="(00)00000-0000" id="telefone" name="telefone"></p-inputMask>
          </div>

          <div class="ui-g-12 ui-md-12 ui-lg-4 ui-sm-12 tamanhoMinDiv">
            <label>Anos de Estudo:*</label>
            <input id="anosEstudo" type="number" min="0" max="35" name="anosEstudo" pInputText
              [(ngModel)]="paciente.anosEstudo" />
          </div>

          <div class="ui-g-12 ui-md-12 ui-lg-4 ui-sm-12 tamanhoMinDiv">
            <label>Estado Civil:*</label>
            <p-dropdown [options]="estadoCivil" [(ngModel)]="paciente.estadoCivil" name="estadoCivil"
              placeholder="Selecione:"></p-dropdown>
          </div>

        </fieldset>
      </div>
    </div>

    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12">
        <fieldset class="fieldsetBorder fieldsetTamanhoMin">
          <h3>Dados Complementares:</h3>
          <hr>

          <div class="ui-g-12 ui-md-12 ui-lg-12 ui-sm-12">
            <label>Informações Gerais:</label>
            <textarea rows="7" class="textArea" name="informacoesGerais"
              [(ngModel)]="paciente && paciente.dadosComplementares && paciente.dadosComplementares.informacoesGerais"
              pInputTextarea>
            </textarea>
          </div>

          <div class="ui-g-12 ui-md-12 ui-lg-12 ui-sm-12">
            <label>Motivo da Consulta:*</label>
            <textarea rows="5" class="textArea" name="motivoConsulta"
              [(ngModel)]="paciente && paciente.dadosComplementares && paciente.dadosComplementares.motivoConsulta"
              pInputTextarea>
            </textarea>
          </div>

        </fieldset>
      </div>
    </div>

    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12">
        <fieldset class="fieldsetBorder">
          <h3>Habitos de Vida:</h3>
          <hr>
          <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12">
            <div class="chxOpcao ui-g-2 ui-sm-12 ui-md-2 ui-lg-2 tamanhoMinDivCheckBox">
              <p-checkbox name="pratica" #chkAtividadeFisica class="estiloCheckBox"
                (onChange)="validarCheckBoxSwitch(chkAtividadeFisica.name, $event)"
                [(ngModel)]="paciente && paciente.habitosVida && paciente.habitosVida.atividadeFisica && paciente.habitosVida.atividadeFisica.pratica"
                binary="true" label="Atividade Fisica"></p-checkbox>
            </div>

            <div class="ui-g-10 ui-sm-12 ui-md-12 ui-lg-10 obsHabitosVida">
              <span class="ui-float-label" *ngIf="chkAtividadeFisicaMarcado">
                <textarea class="textArea" name="observacaoAtividadeFisica" rows="4" cols="10"
                  [(ngModel)]="paciente && paciente.habitosVida && paciente.habitosVida.atividadeFisica && paciente.habitosVida.atividadeFisica.observacaoAtividadeFisica"
                  pInputTextarea></textarea>
                <label for="float-input">Obs Atividade Fisica:</label>
              </span>
            </div>
          </div>

          <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12">

            <div class="chxOpcao ui-g-2 ui-sm-12 ui-md-2 ui-lg-2 tamanhoMinDivCheckBox">
              <p-checkbox name="fumante" #chkCigarro class="estiloCheckBox"
                (onChange)="validarCheckBoxSwitch(chkCigarro.name, $event)"
                [(ngModel)]="paciente && paciente.habitosVida && paciente.habitosVida.cigarro && paciente.habitosVida.cigarro.fumante"
                binary="true" label="Cigarro"></p-checkbox>
            </div>

            <div class="ui-g-10 ui-sm-12 ui-md-12 ui-lg-10 obsHabitosVida">
              <span class="ui-float-label" *ngIf="chkCigarroMarcado">
                <textarea class="textArea" name="observacaoCigarro" rows="4" cols="10"
                  [(ngModel)]="paciente && paciente.habitosVida && paciente.habitosVida.cigarro && paciente.habitosVida.cigarro.observacaoCigarro"
                  pInputTextarea></textarea>
                <label for="float-input">Obs Consumo Cigarro:</label>
              </span>
            </div>

          </div>

          <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12 obsHabitosVida">

            <div class="chxOpcao ui-g-2 ui-sm-12 ui-md-2 ui-lg-2 tamanhoMinDivCheckBox">
              <p-checkbox name="consome" class="estiloCheckBox" #chkBebida
                (onChange)="validarCheckBoxSwitch(chkBebida.name, $event)"
                [(ngModel)]="paciente && paciente.habitosVida && paciente.habitosVida.bebidaAlcoolica && paciente.habitosVida.bebidaAlcoolica.consome"
                binary="true" label="Bebida Alcoólica">
              </p-checkbox>
            </div>

            <div class="ui-g-10 ui-sm-12 ui-md-12 ui-lg-10">
              <span class="ui-float-label" *ngIf="chkBebidaMarcado">
                <textarea name="observacaoBebidaAlcoolica" class="textArea" rows="4" cols="10"
                  [(ngModel)]="paciente && paciente.habitosVida && paciente.habitosVida.bebidaAlcoolica && paciente.habitosVida.bebidaAlcoolica.observacaoBebidaAlcoolica"
                  pInputTextarea></textarea>
                <label for="float-input">Obs Consumo Bebida Alcoólica:</label>
              </span>
            </div>

          </div>

          <div class="ui-g-12 ui-md-12 ui-lg-12 ui-sm-12">
            <label>Alertas:</label>
            <textarea rows="5" class="textArea" name="alertas"
              [(ngModel)]="paciente && paciente.habitosVida && paciente.habitosVida.alertas" pInputTextarea></textarea>
          </div>

          <div class="ui-g-12 ui-md-12 ui-lg-12 ui-sm-12">
            <label>Terapia Alternativa:</label>
            <textarea rows="5" class="textArea" name="terapiaAlternativa"
              [(ngModel)]="paciente && paciente.habitosVida && paciente.habitosVida.terapiaAlternativa"
              pInputTextarea></textarea>
          </div>

        </fieldset>
      </div>
    </div>

    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12">
        <fieldset class="fieldsetBorder">
          <h3>Dados Antropométricos:</h3>
          <hr>

          <div class="ui-g-12 ui-md-4 ui-lg-3 ui-sm-12 ui-sm-12 tamanhoMinDiv">
            <label>Peso(Kg):</label>
            <input id="peso" type="number" min="0" name="peso" (keyup)="calcularIMC()"
              [(ngModel)]="paciente && paciente.dadosAntropometricos && paciente.dadosAntropometricos.peso"
              pInputText />
          </div>

          <div class="ui-g-12 ui-md-4 ui-lg-3 ui-sm-12 ui-sm-12 tamanhoMinDiv">
            <label>Altura(cm):</label>
            <input id="altura" type="number" min="0" name="altura" (keyup)="calcularIMC()"
              [(ngModel)]="paciente && paciente.dadosAntropometricos && paciente.dadosAntropometricos.altura"
              pInputText />
          </div>

          <div class="ui-g-12 ui-md-4 ui-lg-3 ui-sm-12 ui-sm-12 tamanhoMinDiv">
            <label>IMC:</label>
            <input id="imc" type="number" min="0" name="imc" readonly="true"
              [(ngModel)]="paciente && paciente.dadosAntropometricos && paciente.dadosAntropometricos.imc" pInputText />
          </div>

        </fieldset>

      </div>
    </div>

    <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12">
        <fieldset class="fieldsetBorder">
          <h3>Rotina:</h3>
          <hr>

          <div class="ui-g-12 ui-md-4 ui-lg-3 ui-sm-12 tamanhoMinDiv">
            <label>Acorda:</label>
            <p-inputMask mask="99:99" [(ngModel)]="paciente && paciente.rotina && paciente.rotina.acorda" #horaAcorda
              (focusout)="validarHora(horaAcorda.value, horaAcorda.name)" placeholder="--:--" id="acorda" name="acorda">
            </p-inputMask>
          </div>

          <div class="ui-g-12 ui-md-4 ui-lg-3 ui-sm-12 tamanhoMinDiv">
            <label>Café da Manhã:</label>
            <p-inputMask mask="99:99" [(ngModel)]="paciente && paciente.rotina && paciente.rotina.cafedaManha"
              placeholder="--:--" id="cafedaManha" name="cafedaManha" #horaCafeManha
              (focusout)="validarHora(horaCafeManha.value, horaCafeManha.name)"></p-inputMask>
          </div>

          <div class="ui-g-12 ui-md-4 ui-lg-3 ui-sm-12 tamanhoMinDiv">
            <label>Lanche da Manhã:</label>
            <p-inputMask mask="99:99" [(ngModel)]="paciente && paciente.rotina && paciente.rotina.lanchedaManha"
              placeholder="--:--" id="lanchedaManha" name="lanchedaManha" #horaLancheManha
              (focusout)="validarHora(horaLancheManha.value, horaLancheManha.name)"></p-inputMask>
          </div>

          <div class="ui-g-12 ui-md-4 ui-lg-3 ui-sm-12 tamanhoMinDiv">
            <label>Almoço:</label>
            <p-inputMask mask="99:99" [(ngModel)]="paciente && paciente.rotina && paciente.rotina.almoco"
              placeholder="--:--" id="almoco" name="almoco" #horaAlmoco
              (focusout)="validarHora(horaAlmoco.value, horaAlmoco.name)">
            </p-inputMask>
          </div>

          <div class="ui-g-12 ui-md-4 ui-lg-3 ui-sm-12 tamanhoMinDiv">
            <label>Lanche da Tarde:</label>
            <p-inputMask mask="99:99" [(ngModel)]="paciente && paciente.rotina && paciente.rotina.lanchedaTarde"
              placeholder="--:--" id="lanchedaTarde" name="lanchedaTarde" #horaLancheTarde
              (focusout)="validarHora(horaLancheTarde.value, horaLancheTarde.name)"></p-inputMask>
          </div>

          <div class="ui-g-12 ui-md-4 ui-lg-3 ui-sm-12 tamanhoMinDiv">
            <label>Jantar:</label>
            <p-inputMask mask="99:99" [(ngModel)]="paciente && paciente.rotina && paciente.rotina.jantar"
              placeholder="--:--" id="jantar" name="jantar" #horaJantar
              (focusout)="validarHora(horaJantar.value, horaJantar.name)">
            </p-inputMask>
          </div>

          <div class="ui-g-12 ui-md-4 ui-lg-3 ui-sm-12 tamanhoMinDiv">
            <label>Dorme:</label>
            <p-inputMask mask="99:99" [(ngModel)]="paciente && paciente.rotina && paciente.rotina.dorme"
              placeholder="--:--" id="dorme" name="dorme" #horaDorme
              (focusout)="validarHora(horaDorme.value, horaDorme.name)">
            </p-inputMask>
          </div>

          <div class="ui-g-12 ui-md-12 ui-lg-12 ui-sm-12">
            <label>Alimentação e Observações:</label>
            <textarea rows="5" class="textArea" name="observacaoRotina"
              [(ngModel)]="paciente && paciente.rotina && paciente.rotina.observacaoRotina" pInputTextarea></textarea>
          </div>

        </fieldset>
      </div>
    </div>

    <button pButton class="botao-acao" type="submit" label="Salvar"></button>
    <button pButton class="botao-acao" type="button" label="Voltar" (click)="voltar()"></button>


    <!-- <p-message *ngIf="form.controls['nome'].hasError('required') && form.controls['nome'].touched" severity="error"
              text="Campo Obrigatório"></p-message> -->
  </p-card>
</form>
