/* You can add global styles to this file, and also import other style files */
body{
  // background-image: url("./assets/images/fundo.jpg");
  background-color: #ededed;
  background-size: 100%;
  filter: alpha(opacity=100); 
  padding:0;
  margin: 0;
}

html{
  padding:0;
  margin: 0;
}

#logo{
    width: 100px;
    padding-top: 30px; 
    padding-bottom: 30px;
}

.ui-menu {
  border: 0px solid !important; 
  padding-left:0 !important;
  width:220px !important;
}

.ui-sidebar-left{
  padding:0 !important;
  margin: 0 !important;
  width:220px !important;
}

.body{
  padding-left: 230px;
}

.ui-dropdown {
  width: 100% !important;
}